* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* STORY PANEL */

.story-panel {
  width: 40%;
  height: 100vh;
  padding: 28vh 30px 40px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.story-panel p {
  margin: 0;
}

.form-selection > span:first-child,
.color-selection > span:first-child,
.size-selection > span:first-child {
  flex-shrink: 0;
}

/* STORY SELECTIONS */

.form-selection,
.color-selection,
.size-selection {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.form-choice,
.color-choice,
.size-choice {
  display: flex;
  flex-direction: column;
}

/* OPTIONS */

.form-options,
.color-options,
.size-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

/* TEXT BUTTONS */

.text-button {
  padding: 0;
  border: 0;
  background: transparent;

  font: inherit;
  color: inherit;
  cursor: pointer;

  text-decoration: underline;
  text-underline-offset: 3px;
}

.text-button:hover {
  opacity: 0.5;
}

/* THREE.JS */

.three-scene {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.three-scene canvas {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: block;
}

/* PRODUCT INFORMATION */

.product-info {
  height: 72px;
  flex-shrink: 0;
  margin: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #c3c3c3;
}

.product-info p {
  margin: 0;
}

.fade-in {
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.final-selection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-button {
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.cart-button:hover {
  opacity: 0.5;
}

.view-controls {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.view-control {
  position: absolute;

  padding: 0;
  border: 0;
  background: transparent;

  font: inherit;
  color: white;
  cursor: pointer;

  pointer-events: auto;
}


.view-control-1 {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.view-control-2 {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.view-control-3 {
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.view-control:hover {
  opacity: 0.5;
}